In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hugor\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (4.0.34)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: C:\Users\hugor\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pyodbc

server = 'dlapoio.database.windows.net'
database = 'masterUber'
username = 'andre'
password = 'ShC12%Uz'
driver = 'SQL Server'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)

cursor = cnxn.cursor()

cursor.execute('SELECT * FROM tb_pessoas')

for linha in cursor.fetchall():
    print(linha)

(1, 'andre', 35)
(2, 'ana', 26)
(3, 'joão', 45)

In [29]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS tb_pessoas(
        id  INTEGER NOT N
        ULL PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INT NOT NULL,
        altura FLOAT NOT NULL
    ) """)

print('create ok')

conn.commit()

create ok

In [30]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()
nome  = input('Digite o nome: ')
idade = int(input('Digite a idade'))

cursor.execute("""
INSERT INTO tb_pessoas
  (nome, idade)
  VALUES (?,?)""",
  (nome, idade))

print('linha criada')

# efetiva as alterações no banco de dados
conn.commit()

conn.close()

linha criada

In [14]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute("""
  UPDATE tb_pessoas
  SET nome = ? 
  WHERE id = ?""", 
  ('Andre Insardi', 1))

print('update ok')

conn.commit()

conn.close()

update ok

In [20]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute("""
DELETE FROM tb_pessoas
  WHERE id = 1""")

print('delete ok')

conn.commit()

conn.close()

delete ok

In [28]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute("""
ALTER TABLE tb_pessoas
DROP COLUMN altura""")

print('alter ok')

conn.commit()

conn.close()

OperationalError: no such column: "altura"